<h1>Decode</h1>

<%= form_with url: morse_decode_path, method: :get, local: true do |form| %>
  <div class="mb-3">
    <% form.label :text, "Enter the Morse Code:", class: "form-label" %>
    <%= form.text_area :text, class: "form-control",placeholder: "Enter the morse code to be decoded", rows: 3 %>
  </div>

  <%= form.submit "Decode", class: "btn btn-secondary me-2" %>
<% end %>


<%# For displaying results%>

<% if params[:text].present? %>
</br>
  <h2>Result</h2>
  <p><strong>Code:</strong> <%= params[:text] %></p>
  <p><strong>Text:</strong> <%= params[:text] %></p>
<% end %>
